#root {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

#chess-board-wrapper {
  border-radius: 0.4rem;
  outline: 1px dashed violet;
}

#chess-board {
  display: grid;
  grid-template-columns: repeat(8, auto);

  border-radius: inherit;
}

.tile {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 1px;
  background: #d6dde5;
}

.tile:nth-child(odd) {
  background: #2a4e6c;
}
