#root {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

#chess-board-wrapper {
  border-radius: 0.4rem;
  outline: 1px dashed violet;
}

#chess-board {
  display: grid;
  grid-template-columns: repeat(8, auto);

  border-radius: inherit;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 6.4rem;
  width: 6.4rem;
  border-radius: 1px;
  padding: 5px;
}

.black-tile {
  background: #2a4e6c;
}

.white-tile {
  background: #d6dde5;
}

img[id$="piece"] {
  height: 90%;
}

img[id$="pawn-piece"] {
  height: 70%;
}
