:root {
  --tile-dimension: 6.4rem;
}

@media screen and (max-width: 720px) {
  :root {
    --tile-dimension: 5.6rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --tile-dimension: 4.2rem;
  }
}
